

/* shared style */
.container{
    max-width:1140px;
    margin:30px auto 120px auto;
}
/* style Navigation  */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    gap: 48px;
    list-style: none;
}
.nav-items a{
    text-decoration: none;
}

/* Style Banner  */
.banner-container{
    display: flex;
    align-items:center;
    align-items: last baseline;
}
