/* @import "tailwindcss" */

/* font family */

.noto-serif-normal {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* shared style */
.container {
    max-width: 1140px;
    margin: 30px auto 120px auto;
}
.paragraph{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

/* style Navigation  */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    list-style: none;
}

.nav-items a {
    text-decoration: none;
}

/* Style Banner  */
.banner-container {
    display: flex;
    align-items: center;
    align-items: last baseline;
}

.banner-left {
    width: 570px;
}

.banner-left h1 {
    font-size: 65px;

}

.banner-right {
    width: 570px;
}

.banner-right img {
    width: 100%;
}

/* Our plant style */
.plant-container{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(54, 53, 53);
    margin-top: 120px;
    gap: 50px;
}
.plant{
    display: grid;
    justify-content:space-between;
    grid-template-columns: repeat(4, 1fr);
    gap: 19px;
    width: fit-content;
    
}
/* Plants lover Style */
.plants-lover{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.plants-lover img{
    width:540px;
}
.plants-lover-description{
    max-width: 540px;
    margin: 38px 0 38px 60px;

}
.plants-lover-description li{
    list-style: disc;
}

/* Deals styls */
.deals-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width:1440px ;
    text-align: center;
    margin-top: 120px;
}
.deals-container2{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.deals-container2 .left{
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    
}
.deals-container2 .bloom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    filter: brightness(90%);
    background-size:cover;
    background-image: url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    width:370px;
    height: 200px;
    color: white;  
    /* border-radius:1px; */    
}
.deals-container2 .ana{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: brightness(90%);
    border-radius: 15px;
    background-size:cover;
    background-image: url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    width:370px;
    height: 200px;
    color: white;  
}
.deals-container2 .zabo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: brightness(90%);
    border-radius: 15px;
    background-size:cover;
    background-image: url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    width: 750px;
}

